/* <!-- NAV BAR (Mitchel) --> */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 40px;
   
}
nav{
    display: flex;
    gap: 230px;
    height: 55px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 20px;
}

.first{
    display: flex;
    gap: 10px;
}

    
.get-started {
    color: blue;
    border-color: blue;
    width: 80px;
    height: 30px;
    background-color: rgb(61, 182, 229);
}


body{
    background-color: skyblue;
    text-align: center;
}



/*  <!-- MIDDLE SECTION (Berechiah) --> */

  
.top-small{
    padding-top: 10px;
}

small{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
    text-decoration: solid;
}

h1{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.suscribe {
    width: 90px;
    background-color: rgb(61, 182, 229);
    border: 2px solid blue;
    
}

.button-textbox {
    display: flex;
    gap: 0px;
    justify-content: center;
}

.middle {
    margin-top: 70px;
    text-align: center;
    width: 600px;
    margin: auto;
    margin-top: 80px;
}




/* <!-- BOTTOM SECTION (Emmanuel) -->  */
.bottom-section {
 display: flex;
 gap: 100px;
 padding-left: 40px;
 padding-right: 40px;
 justify-content: center;
 margin-top: 70px;
}

.fa-pencil {
    font-size: 30px;
    color: rgb(64, 64, 244);
}

.fa-layer-group {
    font-size: 30px;
    color: rgb(64, 64, 244);
}

.fa-file {
    font-size: 30px;
    color: rgb(64, 64, 244);
}

.pencil {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
text-align: left;
}

.layers {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
text-align: left;
}

.newpage {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
text-align: left;
}









