/* <!-- NAV BAR (Mitchel) --> */




/*  <!-- MIDDLE SECTION (Berechiah) --> */
.body{
    /* background-color: skyblue; */
   text-align: center;
}
.top-small{
    padding-top: 10px;
}

small{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
    text-decoration: solid;
}

h1{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


<<<<<<< HEAD
.button-right{
color: white;
height: 60px;
width: 250px;
border-color: white;
}
.left-button{
background-color: rgb(232, 102, 15);
color: white;
height: 60px;
width: 200px;
border-color: rgb(232, 102, 15);
}
.left-button a{
    text-decoration: none;
    color: #fff;
}
/* <!-- BOTTOM SECTION (Emmanuel) -->  */
=======



/* <!-- BOTTOM SECTION (Emmanuel) -->  */
.bottom-section {
 display: flex;
 gap: 160px;
 padding-left: 40px;
 padding-right: 40px;
 justify-content: center;
}

.fa-pencil {
    font-size: 30px;
    color: rgb(64, 64, 244);
}

.fa-layer-group {
    font-size: 30px;
    color: rgb(64, 64, 244);
}

.fa-file {
    font-size: 30px;
    color: rgb(64, 64, 244);
}
>>>>>>> d71d48f6d47b00fa76e7088a26edbf5e9e94d4bd
